/* generic */
#img-container > div {
    height: 100%;
    width: 100%;
    display: none;
}

#img-container > .image-wrapper{
    width: 100%;
    height: 100%;
} 

.image-wrapper img{
    width: 100%;
    height: 100%;
}

#carousel{
    
    height: 500px;
    width: 900px;
    margin: 50px auto ;
    
    
    
    position: relative;
}

.bi{
    
    
    position: absolute;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
}

.bi:hover{
    cursor: pointer;
}
.bi:active {
    
    transform: translateY(-50%)  scale(1.1)  ;
}
#right-slider{
    left: 105%;
}

#left-slider{
    right: 105%;
}

#img-container{
    border-radius: 15px;
    overflow-y: hidden;
    margin: 0%;
    width: 100%;
    height: 100%;
}

#img-container > div.active{
    display: block;
}

#thumbnail{
    margin-top: 10px;
    height: 80px;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
#thumbnail > div{
    margin-top: 5px;
    filter: grayscale(1);
    border-radius: 15px;
    width: calc(19%);
    height: 100%;
}

#thumbnail img{
    border-radius: 15px;
}

#thumbnail > div.active{

    filter: grayscale(0);
    box-shadow: 0 0 5px 0 darkblue;
}